html {
    height: 100%;
    margin: 0;
}
body {
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
/*ヘッダー*/
header {
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    padding: 12px 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.header__inner {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__inner div {
    vertical-align: middle;
}
.header__inner p {
    color: #97b9d1;
    font-size: 16px;
}
.header__button {
    margin-left: auto;
    width: 180px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background: linear-gradient(to right, #0f71bc 0%, #3ccfff 100%);
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(2px 2px 2px #a3d0f2);
}
.header__button span {
    line-height: 40px;
    color: #fff;
}
/*メイン*/
main {
    background-color: #f5f5f8;
    box-sizing: border-box;
    height: calc(100% - 64px);
    margin: 0;
}
.container {
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 0;
    background-color: #f5f5f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
/*学習時間*/
.container__hours {
    background-color: #f5f5f8;
    display: grid;
    grid-template-rows: 100px 400px;
    gap: 20px;
}
.container__hours__data {
    background-color: #f5f5f8;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.container__hours__data p {
    text-align: center;
}
.data__title {
    font-size: 12px;
    font-weight: 700;
    color: #0f71bc;
    margin-top: 8px;
    margin-bottom: 4px;
}
.data__hours {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.data__unit {
    font-size: 15px;
    color: #97b9d1;
    margin-top: 4px;
    margin-bottom: 4px;
}
.container__hours__day {
    background-color: #fff;
    border-radius: 10px;
}
.container__hours__month {
    background-color: #fff;
    border-radius: 10px;
}
.container__hours__total {
    background-color: #fff;
    border-radius: 10px;
}
.container__hours__graph {
    background-color: #fff;
    border-radius: 10px;
}
/*学習内容*/
.container__content {
    background-color: #f5f5f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 520px;
}
.container__content__language {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.container__content__language h2 {
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 20px;
}
.container__content__material {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}
.container__content__material h2 {
    font-size: 18px;
    margin: 0;
    position: absolute;
    top: 30px;
    left: 20px;
}
/*月 表示*/
.month {
    background-color: #f5f5f8;
    height: calc(100% - 64px - 540px);
    padding-top: 60px;
}
.month .fa-angle-left::before {
    font-size: 20px;
    font-weight: 900;
    color: #0f71bc;
    vertical-align: middle;
}
.month .fa-angle-right::before {
    font-size: 20px;
    font-weight: 900;
    color: #97b9d1;
    vertical-align: middle;
}
.month p {
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: 600;
}
.month span {
    margin-left: 20px;
    margin-right: 20px;
}
/*モーダル*/
.m-container {
    position: relative;
}
.modal {
    display: none;
    position: absolute;
    inset: 0;
}
.m-container.openModal .modal {
    display: block;
}
.modal::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
}
.modal__content {
    position: absolute;
    top: 150px;
    left: calc((100% - 900px) / 2);
    width: 900px;
    height: 540px;
    border-radius: 20px;
    background-color: #fff;
    
    position: relative;
}
/*クローズボタン*/
.modal__close__button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #f5f5f8;
}
.modal__close__button i {
    font-size: 20px;
    font-weight: 900;
    line-height: 36px;
    margin-left: 12px;
    color: #5b5b5a;
}
/*モーダル 中身*/
.r-container {
    position: absolute;
    inset: 56px 56px 100px 56px;
    width: 788px;
    height: 404px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.r-container__1 {
    background-color: #fff;
    display: grid;
    grid-template-rows: 80px 114px 162px;
    gap: 24px;
}
.record__date {
    background-color: #fff;
    height: 80px;
}
.record__date h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}
.record__date div {
    background-color: #f5f5f8;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.record__date div p {
    margin: 0;
    font-size: 14px;
    position: absolute;
    top: 21px;
    left: 20px;
}
.record__content {
    background-color: #fff;
    height: 114px;
}
.record__content h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}
.record__content div {
    background-color: #fff;
    height: 92px;
}
.record__content__wrapper {
    margin: 0;
    padding: 0;
}
.c-box {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.c-box-item {
    list-style: none;
    background-color: #f5f5f8;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
}
.c-box-item i {
    color: #cccccc;
    font-size: 20px;
    line-height: 36px;
}

.record__language {
    background-color: #fff;
}
.record__language h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}
.record__language div {
    background-color: #fff;
    height: 140px;
}
.record__language__wrapper {
    margin: 0;
    padding: 0;
}
.l-box {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.l-box-item {
    list-style: none;
    background-color: #f5f5f8;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 18px;
}
.l-box-item i {
    color: #cccccc;
    font-size: 20px;
    line-height: 36px;
}

.r-container__2 {
    background-color: #fff;
    display: grid;
    grid-template-rows: 356px 42px;
    gap: 8px;
}
.r-container__2__content {
    display: grid;
    grid-template-rows: 80px 252px;
    gap: 24px;
}
.record__hours {
    background-color: #fff;
    height: 80px;
}
.record__hours h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}
.record__hours div {
    background-color: #f5f5f8;
    height: 60px;
    border-radius: 10px;
}
.record__for__twitter {
    background-color: #fff;
    height: 252px;
}
.record__for__twitter h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 6px;
}
.record__for__twitter div {
    background-color: #f5f5f8;
    height: 224px;
    border-radius: 10px;
}
.share__button {
    background-color: #fff;
    height: 40px;
    position: relative;
}
.share__button span {
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 44px;
}
.share__button i {
    font-size: 36px;
    color: #0f71bc;
}

/*モーダル ボタン*/
.modal__record__button {
    width: 300px;
    height: 40px;
    position: absolute;
    inset: 480px 300px 20px 300px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background: linear-gradient(to right, #0f71bc 0%, #3ccfff 100%);
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(2px 2px 2px #a3d0f2);
}
.modal__record__button {
    line-height: 40px;
    color: #fff;
}
/*カレンダー*/
.calendar__modal {
    display: none;
    position: absolute;
    inset: 0;
}
.m-container.openCalendar .calendar__modal {
    display: block;
}
.calendar__modal::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
}
#calendar {
    position: absolute;
    top: 150px;
    left: calc((100% - 900px) / 2);
    width: 900px;
    height: 540px;
    border-radius: 20px;
    background-color: #fff;
    
    position: relative;
}

/*カレンダーの内容*/
h2 {
    font-size: 15px;
    font-weight: 550;
    text-align: center;
    color: rgb(39, 37, 37);
    position: absolute;
    top: 60px;
    left: 408px;
}
table {
    position: absolute;
    top: 120px;
    left: 285px;
    border-collapse: separate;
    border-spacing: 12px 6px;
    table-layout: fixed;
    width: 330px;
    height: 250px;
    margin: 0 auto;
}
td {
    border-width: 0;
    border: 1px ;
    padding: 5px;
    text-align: center;
}
.weekdays {
    color: #97b9d1;
    font-size: 11px;
}
.days {
    font-weight: 550;
    font-size: 14px;
    color: black;

    user-select: none;
    cursor: pointer;
}
.date-of-today {
    background-color: #3b93d5;
    color: white;
    border-radius: 50%;
}
.days-until-today {
    color: rgb(175, 172, 172);
}

.date__button {
    margin-left: auto;
    width: 140px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    background: linear-gradient(to right, #0f71bc 0%, #3ccfff 100%);
    cursor: pointer;
    user-select: none;
    filter: drop-shadow(2px 2px 2px #a3d0f2);
    position: absolute;
    bottom: 80px;
    position: absolute;
    bottom: 100px;
    left: 380px;
}
.date__button span {
    line-height: 40px;
    color: #fff;
}
